
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3>Mvc Camp Ornek</h3>
<br />

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Aciklama</th>
        <th>Durum</th>
    </tr>   
    <tr>
        <td>1</td>
        <td>Film</td>
        <td>Filmler</td>
        <td>1</td>
    </tr>
</table>
<button type="button" class="btn btn-primary">Yeni Kategori</button>
<button class="btn-danger">Yeni Kategori</button>













